.roadmap {
  padding-bottom: 70px;
  //margin-bottom: 250px;
  z-index: 999;
  background-image: url("../../assets/images/hero-bg-red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(0% + 600px) calc(0% - 250px);
}

.roadmap__wrapper {
  background-image: url("../../assets/images/hero-bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(0% - 450px) calc(0% - 250px);
}

.roadmap__title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 104%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 31px;
  z-index: 1111;
}

.roadmap__frame {
  height: 32px;
  background-image: url("../../assets/images/roadmap/frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0;
}

.roadmap__card {
  width: 528px;
  height: 550px;
  display: flex;
  align-items: center;
  background-image: url("../../assets/images/card-line.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: ani 3s forwards;
  //transition: all 0.3s ease-in-out;

  img {
    transition: all 0.3s ease;
  }
}

.roadmap__number-list {
  margin-right: 50px;
  ul {
    padding: 0;
  }

  li {
    margin-top: 36px;
    width: 102px;
    margin-left: 46px;
  }

  .btn__disabled {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 104%;
    text-align: right;
    color: #ffffff;
    z-index: 1111;
    opacity: 0.5;
  }

  .active__btn {
    opacity: 1;
  }
}

.roadmap__right {
  width: 315px;
  height: 190px;
  animation: ani 3s forwards;
  h3 {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 104%;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 48px;
  }

  p {
    font-family: "Trap";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 104%;
    color: #ffffff;
    opacity: 0.7;
    width: 288px;
    margin-top: 26px;
  }
}

@keyframes ani {
  0% {scale: 0}
  100% {scale: 1.1}
}

.roadmap__active {
  background-color: #f01100;
}

.roadmap__right {
  ul {
    margin-top: 26px;
  }

  li {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 14px;

    font-family: "Trap";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 104%;
    color: #ffffff;
    opacity: 0.7;
  }
}

.roadmap__right-content {
  position: relative;
  bottom: 30px;
}

.roadmap__img {
  width: 73px;
  height: 114px;
}

.roadmap__line {
  width: 75px;
  padding-top: 115px;
  margin-left: 46px;
}

.roadmap__ul {
  height: 180px;
  overflow: hidden;
}

.swiper__close {
  width: 8%;
}

.swiper__list {
  width: 92%;
}