.faq__bg {
  background-image: url("../../assets/images/faq-bg.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: calc(0% - 0px) calc(0% - 50px);
  //padding-top: 150px;
  padding-top: 20px;
  overflow: hidden;
}

.faq__wrapper {
  background-image: url("../../assets/images/evolution.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.faq__wrapper::after {
  content: "";
  position: absolute;
  left: -131px;
  bottom: 0;
  z-index: -100;
  width: 790px;
  height: 480px;
  background-image: url("../../assets/images/line-frame.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.faq__wrapper::before {
  content: "faq";
  position: absolute;
  top: -300px;
  left: 0;
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 550px;

  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(
    90.06deg,
    #443636 2.01%,
    rgba(155, 124, 124, 0) 49.1%,
    #000000 99.97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  opacity: 0.5;
}

.faq {
  background: linear-gradient(
    -135deg, transparent 40px,
    rgba(255, 224, 188, 0.264) 0%,
    rgba(255, 232, 205, 0.064) 99.79%
  );
  backdrop-filter: blur(116px);
  width: 541px;
  margin: 0 auto;
  margin-top: 181px;
  //clip-path: polygon(0 0, 91% 0, 100% 11%, 100% 100%, 0 100%, 0% 50%);
  padding: 40px 0;
  padding-right: 51px;
}

.faq__answer {
  font-family: 'Trap', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 104%;
  color: #FFFFFF;
  opacity: 0.9;
  margin-top: 40px;
  text-align: center;
  .faq__answer-red {
    color: #EF1000;
    cursor: pointer;
  }
}

@media only screen and (max-width: 991px) {
  .faq {
    width: 90%;
    margin-top: 0;
    padding: 50px 0;
    clip-path: polygon(0 0, 90% 0, 100% 30px, 100% 100%, 0 100%, 0% 50%);
    background: linear-gradient(180deg, rgba(255, 224, 188, 0.264) 0%, rgba(255, 232, 205, 0.064) 99.79%);
    backdrop-filter: blur(57.6819px);
  }

  .faq__bg {
    background-image: url("../../assets/images/faq-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(0% - 200px) calc(0% + 0px);
    padding-top: 150px;
  }

  .faq__wrapper {
    background-image: url("../../assets/images/evolution.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center calc(100% - 0px);
    width: 100vw;
    padding: 0;
    height: 85vh;
  }

  .faq__wrapper::after {
    width: 390px;
    height: 260px;
  }

  .faq__wrapper::before {
    content: "faq";
    position: absolute;
    top: -120px;
    left: calc(50% - 173px);
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 132px;
    width: 346px;

    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(
                    90.06deg,
                    #443636 2.01%,
                    rgba(155, 124, 124, 0) 49.1%,
                    #000000 99.97%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    opacity: 0.5;
  }
}
