.tokenomics__wrapper {
  background-image: url("../../assets/images/hero-bg-light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(0% - 350px) calc(0% - 50px);
  //padding: 200px 0;
  padding-top: 90px;
}

.tokenomics__wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 790px;
  height: 480px;
  background-image: url("../../assets/images/line-frame.png");
  background-repeat: no-repeat;
  background-position: calc(0% + 150px) calc(0% + 100px);
  background-size: cover;
  transform: rotate(110deg) scale(1.1);
}

.tokenomics {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  // filter: drop-shadow(0px 0px 150px #ef1000);
  //margin-bottom: 120px;
}

.tokenomics__icon {
  .coin {
    scale: 1.4;
    padding-top: 100px;
  }
}

.tokenomics__left {
  max-width: 780px;
  //background-image: url("../../assets/images/coin.png");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  //height: 880px;
  //z-index: 111;
  // filter: drop-shadow(-100px 0px 150px #ef1000);

  .tokenomics__left-content {
    margin-top: 50px;
  }

  .tokenomics__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 104%;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 43px;
  }
}

.tokenomics__right-list {
  padding: 0;
  list-style-type: none;
  width: 455px;

  li {
    h2 {
      font-family: "Monument Extended";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 104%;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 95px;
    }
    p {
      font-family: "Trap";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 104%;
      color: #ffffff;
      opacity: 0.7;
      margin-top: 25px;
    }

    ul {
      margin-top: 25px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;

        span {
          font-family: "Trap";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 104%;
          color: #ffffff;
          opacity: 0.7;
        }
      }
    }
  }
}

.tokemonics__btn {
  margin-top: 110px;
}
